<div class="main container-fluid">
    <h1>Blog</h1>
    <p class="description">Where researchers and academics in the field post interesting articles about our space.</p>
    <div class="row g-5">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/800x600" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">The Birth of Stars</h5>
                <p class="card-text">Discover the fascinating process of star formation in nebulas.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on July 12, 2023 by Dr. Jane Smith</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/400x300" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">Journey to Mars</h5>
                <p class="card-text">Explore the challenges and goals of human missions to the Red Planet.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on March 8, 2024 by Prof. Mark Johnson</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/400x301" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">Black Holes: Mysteries Unveiled</h5>
                <p class="card-text">Dive into the enigmatic world of black holes and their powerful forces.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on November 23, 2022 by Dr. Emily Davis</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/400x303" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">The Expanding Universe</h5>
                <p class="card-text">Learn about the ongoing expansion of the universe and its implications.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on January 15, 2024 by Dr. Robert Brown</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/400x305" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">The Milky Way: Our Galactic Home</h5>
                <p class="card-text">Take a closer look at our galaxy and its stunning structure.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on June 30, 2023 by Dr. Linda Wilson</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-container">
            <div class="card">
                <img src="https://spaceholder.cc/i/400x307" class="card-img-top" alt="picture of space">
                <div class="card-icon"><i class="bi bi-heart"></i></div>
                <div class="card-body">
                <h5 class="card-title">Exoplanets: New Worldse</h5>
                <p class="card-text">Discover planets beyond our solar system and the search for alien life.</p>
                <a href="#" class="readMoreBtn">Read more</a>
                <p class="card-posttext">Posted on September 19, 2023 by Prof. David Martinez</p>
                </div>
            </div>
        </div>
    </div>    
</div>