@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.container-fluid{
    background-color: rgb(3, 0, 22);
    color: white;
}

.main{
    margin-top: var(--nav-height);
    min-height: calc(100vh - var(--nav-height));
    text-align: center;
    justify-content: center;
}
.main>h1, form>h1{
    font-family: 'Orbitron';
}
.main>p, form>p, form>label{
    font-family: 'Roboto Mono';
}