<div class="main container-fluid">
    <p class="small-title">WELCOME TO</p>
    <p class="title">SPACE</p>
    <div class="horLine"></div>
    <p class="description">Learn more about this fascinating corner of our universe we call our home.</p>
    <p class="funFact"><b>Did you know?</b> {{curentFunFact}}</p>
    <div class="button-container"> 
        <button class="funFactBtn" (click)="loadNewFunFact()" >Load new fun fact</button>
    </div>
    <img src="./img/solar-system.png" alt="our solar system" class="img-fluid">

    <app-planets></app-planets>
</div>